<h3>What is Ember.js?</h3>

<p>
    Ember.js is an open source, free JavaScript client-side framework used for developing web applications.
    It allows building client side JavaScript applications by providing a complete solution which contains data
    management and an application flow.
</p>
{{outlet}}