<h3>Ember CSS:npm packages</h3>
<p>
    ember-cli-tutorial-style instantly adds CSS to the website.
    <ul>
        <li>
            ember install ember-cli-tutorial-style
        </li>
    </ul>
</p>