<h3>How to get started</h3>
<ul>
    <li>npm install -g ember-cli</li>
    <li>ember new ember-quickstart</li>
    <li>cd ember-quickstart</li>
    <li>ember serve</li>
</ul>
<p>
    Open <a href="http://localhost:4200/">http://localhost:4200/</a>
</p>